{% extends 'base.html.twig' %}

{% block title %}Réinstallation de mot de pass{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container-resetpass mb-3">
    <h3 class="text-center py-5">Réinstallation le mot de pass</h3>
<div class="formsection ">
    {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                 lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button type="submit" class="button my-3">Envoyer</button>
    {{ form_end(requestPassForm) }}
    </div>
    </div>
{% endblock %}
