{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container-resetpass mb-4">
    <h3 class="text-center py-5">Réinstallation de mot de pass</h3>
<div class="formsection">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.password) }}
        <button class="btn btn-primary">Réinstialiser mot de pass</button>
    {{ form_end(resetForm) }}
    </div>
     </div>
{% endblock %}
