{% extends 'backoffice.html.twig' %}

{% block title %}Accueil -
	{{ parent() }}
{% endblock %}
 

{% block body %}
	<!-- The Form Section -->
	<div class="abonner-section container bg-light text-center " style="max-width:600px;
   padding-bottom:30px;">
	
	
		<h2 class="py-4">Création du support</h2>
		{{form(dataForm)}}
		

	
	</div>
	{% endblock %}
