{% extends 'base.html.twig' %}

{% block title %}Ludique- {{ parent() }}{% endblock %}

{% block body %}

<h1 class="text-center py-5">Apprenons et amusons-nous!</h1>
<div class="testimonial container-methode pl-4">
<p >Apprendre l'arabe avec des chansons et des histoires est une excellente façon d'engager les enfants dans l'apprentissage de la langue.<br>Il est important de rendre l'apprentissage  à travers les chansons et les histoires amusant et interactif. 
.<br>
Commencez par des chansons simples et entraînez-vous à les écouter régulièrement.<br> Essayez de comprendre les paroles et leur signification.<br>Choisissez des histoires adaptées à l'âge et au niveau de compréhension des enfants.<br>
L'apprentissage de l'arabe  avec cette méthode offre une expérience interactive et divertissante. N'hésitez pas à explorer notre différentes chansons dans un environnement positif et encourageant pour l'enfant. Avec de la pratique régulière et de la patience, l'apprentissage de l'arabe à travers les chansons peut être très bénéfique et agréable. <br>
Vous pouvez regarder notre séléctions de  
 
 {% for category in categories  %}
{% if category.title is same as ('Chansons')%}
<a href="{{ path('index_category',{'categoryId': category.id }) }}">Chansons </a>
{% endif %}
{% endfor %}
et
{% for category in categories  %}
{% if category.title is same as ('Histoires')%}
<a href="{{ path('index_category',{'categoryId': category.id }) }}">Histoires</a>
{% endif %}
{% endfor %}
<br>
On n'a pas oublié les<span class="text-danger"> petits artistes</span> qui adorent la 
{% for category in categories  %}
{% if category.title is same as ('Coloriage')%}
<a href="{{ path('index_category',{'categoryId': category.id }) }}">Coloriage </a>
{% endif %}
{% endfor %}
</p></div>
 {% endblock %}