{% extends 'base.html.twig' %}

{% block title %}Politique de protection des données- {{ parent() }}{% endblock %}

{% block body %}


<h1 class="text-center py-5">Politique de protection des données </h1>
<div class="testimonial">
<p>Cette politique de  protection des données décrit nos politiques et procédures relatives à la collecte, à l'utilisation et à la divulgation de vos informations lorsque vous utilisez le service et vous informe de vos droits à la vie privée et de la manière dont la loi vous protège.
Nous utilisons vos données personnelles pour fournir et améliorer le service. En utilisant le Service, vous acceptez la collecte et l'utilisation d'informations conformément à la présente politique de confidentialité.
<h3>Aux fins de cette politique de confidentialité </h3>
Compte désigne un compte unique créé pour vous permettre d'accéder à notre service ou à des parties de notre service.
La Société (appelée soit « la Société », « Nous », « Notre » ou « Notre » dans le présent Accord) fait référence au francoarabophone.
Le pays fait référence à : France
Les Données d'Utilisation font référence aux données collectées automatiquement, soit générées par l'utilisation du Service, soit à partir de l'infrastructure du Service elle-même (par exemple, la durée d'une visite d'une page).
Site Internet faisant référence au francoarabophone, accessible depuis https://francoarabophone.fr/
Vous désignez la personne qui accède ou utilise le Service, ou la société ou toute autre entité juridique au nom de laquelle cette personne accède ou utilise le Service, selon le cas.
<h3>Données personnelles</h3>
Lors de l'utilisation de notre service, nous pouvons vous demander de nous fournir certaines informations personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations personnelles identifiables peuvent inclure, sans s’y limiter :
Adresse e-mail
Des données d'utilisation
Les données d'utilisation sont collectées automatiquement lors de l'utilisation du service.
Les données d'utilisation peuvent inclure des informations telles que l'adresse de protocole Internet de votre appareil (par exemple, l'adresse IP), le type de navigateur, la version du navigateur, les pages de notre service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages, l'appareil unique. identifiants et autres données de diagnostic.</p>
<h3>Collecte des données</h3>
<p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.

 </p>
 <h3>Supprimez vos données personnelles</h3>
Vous avez le droit de supprimer ou de demander que nous vous aidions à supprimer les données personnelles que nous avons collectées à votre sujet.

Vous pouvez supprimer vos informations à tout moment en vous connectant à votre compte, si vous en avez un, et en visitant la page de votre  compte qui vous permet de gérer vos informations personnelles. Vous pouvez également nous contacter pour demander l'accès, la correction ou la suppression de toute information personnelle que vous nous avez fournie.


​
 </div>
 {% endblock %}