{% extends 'base.html.twig' %}

{% block title %}Qui-suis-je?- {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center py-5">Qui-suis-je?</h1>
<div class="container-quisuisje">
<p>Je suis Caroline, mère de trois enfants d'origine syrienne, vivant en France depuis 2015.
Étant donné que mes enfants sont nés ici et qu'ils parlent français et un peu d'arabe, partant de mon besoin de leur apprendre la langue arabe et de mon désir d'appliquer les compétences que j'ai acquises comme une developpeuse d'application multimédia j'ai décidé de développer ce site Web pour faciliter le processus d'éducation.
<br>Il faut préciser que je ne suis pas spécialisé dans l'enseignement de l'arabe, et que le contenu du site n'est pas le mien car je n'avais pas assez de temps pour cela, mais j'ai collecté des vidéos et des activités que j'ai vues utiles pour les enfants, bien sûr, après contacter les parties prenantes.
<br>

Mon objectif est de continuer d’améliorer et de compléter le contenu d’apprendre l’arabe facilement.
Pour ce faire, je suis toujours à la recherche de nouvelles idées, n'hésiter pas à me tranmettre votre idées sur mon émail: info@francoarabophone.fr</p>
</div>


{% endblock %}