{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}

 {% if app.flashes('error') is not empty %}
    <div class="alert alert-danger">
        {{ app.flashes('error') }}
    </div>
{% endif %}
<div class="container-contact"> 
<h1 class="text-center py-5">Contactez-nous </h1>
<div class="formsection" >

 {{ form_start(form) }}
<fieldset class="mb-3">
                       
 {{ form_row(form.content) }}
 </fieldset>
 </div>
 
  <button type="submit" class="button">envoyer</button>
  {{ form_end(form) }}
 
 </div>
{% endblock %}
