{% extends 'base.html.twig' %}

{% block title %}les Avis{% endblock %}

{% block body %}
 
		
        {% if app.flashes('error') is not empty %}
    <div class="alert alert-danger">
        {{ app.flashes('error') }}
    </div>
{% endif %}


   <h4 class="text-center py-4">Votre avis nous intérése! </h4>
   
   <div class="d-flex justify-content-center">

   {{ form_start(commentForm) }}
	<button type="submit" class="button text-center my-3">Envoyer </button>
	  {{ form_end(commentForm) }}  
      
    
        </div>

       
 

{% endblock %}